ul.contacts li {
  list-style: none;
  font-size: 26px;
}

ul.contacts li img {
  vertical-align: middle;
}

.icon {
    height: 50px;
    width: 50px;
    margin-right: 20px !important;
}

.medium-icon {
    height: 128px;
    width: 128px;
}

.reveal pre code {
    max-height: 450px;
    font-size: 20px;
}

.reveal table td {
    font-size: 26px;
}

.reveal section img {
  border: none;
  background: none;
  box-shadow: none;
}

.reveal section img.schema {
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    padding: 10px;
}

.hljs {
  background: rgba(0, 0, 0, 0.8) !important;
}

.vsep {
  background-repeat: no-repeat !important;
  background-size: 50% auto !important;

  display: grid !important;
  grid-template-columns: 1fr 1fr;
}

.vsep.left {
  background-position: left !important;
}

.vsep.right {
  background-position: right !important;
}

.hsep {
    background-repeat: no-repeat !important;
    background-size: auto 50% !important;

    display: grid !important;
    grid-template-rows: 1fr 1fr;
}

.hsep.top {
    background-position: top !important;
}

.hsep.bottom {
    background-position: bottom !important;
}

.reveal table {
    background: rgba(0, 0, 0, 0.4)
}